//default colors
$active:#4b82bd;
$white:#ffffff;
$font-color:  #4267b2;
$header-bg:  #005986;

$border-color:#dee2e6 ;
$danger: #dc3545;

$btn-default-color:#4267b2;
$btn-default-hover-color:#4f7ad2;


$nav-color:#ffffff;
$nav-menu-active:#42A5F5;
