
<footer class="page-footer font-small  web">

  
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left ">

  
    
    <div class="row text-center text-md-left mt-3 pb-3 pt-3 ">

      <!-- Grid column -->

     
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
        <h6 class="text-uppercase mb-4 font-weight-bold">Weather Forcast</h6>
        <p>Lorem ipsum dolor sit amet. At earum pariatur a pariatur distinctio qui sunt eligendi aut architecto asperiores ex nesciunt rerum. Non cumque quae qui fugiat animi aut reprehenderit quam eum quae illum hic eligendi voluptatem.</p>
       
       
          
      </div>
   
     
    
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
        <h6 class="text-uppercase mb-4 font-weight-bold">CONTACT</h6>
        <p>
          <i class="fa fa-home mr-3"></i> Manila, Philippines 
        </p>
        <p > <i class="fa fa-phone mr-3"></i> +63912345678</p>
 
        <p> <i class="fa fa-envelope mr-3" ></i> <a href="#">weatherforcast&#64;gmail.com</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
        <h6 class="text-uppercase mb-4 font-weight-bold">CONNECT WITH US</h6>
        <div>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a>
             
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>
            
            </li>
          </ul>
        </div>
        <h6 class="text-uppercase mb-4 font-weight-bold">SUGGESTED BROWSER</h6>
        <div>
          <ul class="list-inline">
            <li class="list-inline-item mr-3">
              <i class="fab fa-chrome fa-2x " aria-hidden="true" title="Google Chrome"></i>
            </li>
            <li class="list-inline-item mr-3">
              <i class="fab fa-firefox fa-2x" aria-hidden="true" title="Firefox"></i>
            </li>
            <li class="list-inline-item mr-3">
              <i class="fab fa-edge fa-2x" aria-hidden="true" title="Microsoft Edge"></i>
            </li>
            
          </ul>
        </div>
      </div>
  

    </div>
  


    <div class="row d-flex align-items-center cr-bg pt-3">

 
      <div class="col-md-12 col-lg-12 text-center">

        <!--Copyright-->
        <p >© 2024 Weather Forcast
        </p>

      </div>

    </div>


  </div>
 
  
</footer>
<footer class="page-footer font-small mob">
   <!-- Footer Links -->
   <div class="container-fluid text-center text-md-left ">
    <div class="row text-center text-md-left mt-3 pb-3 ">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
        <h6 class="text-uppercase mb-4 font-weight-bold">Weather Forecast</h6>
        <p>Lorem ipsum dolor sit amet. At earum pariatur a pariatur distinctio qui sunt eligendi aut architecto asperiores ex nesciunt rerum. Non cumque quae qui fugiat animi aut reprehenderit quam eum quae illum hic eligendi voluptatem.</p>
      </div>
    </div>
   
    <div class="row d-flex align-items-center cr-bg pt-3">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-12 text-center">
  
        <!--Copyright-->
        <p >© 2020 Concept Furniture PH
          <!-- <a href="https://mdbootstrap.com/">
            <strong> conceptfurniture.ph</strong>
          </a> -->
        </p>
  
      </div>
      <!-- Grid column -->
    </div>
  </div>
</footer>
