

#overlay-spinner{

    background: #000000;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0px;
    padding-top: 32vh;
    color: #fff;
    .spinner-text{
        font-size: 100px;
    }

    .spinner-border{
        height: 100px;
        width: 100px;
    }
}

