
@import './../../../assets//scss/variables.scss';

.header-logo{
    width: 150px;
  }


 .app-header{
   color: black !important;
    background: $header-bg;
    color:$white;
    width: 100%;
    position: fixed;
    
    // opacity: 0.9;
    a{
      font-size: 18px;
      color:$nav-color !important;
      cursor: pointer;
     
    }
  
    .dropdown-menu > a{
      color:$nav-color !important;
    }
  }

  .side-nav-toggler {
    display: none;
    padding:14px;
  }
  .mobile-title{
    display: none;
  }


//mobile layout






